# dependencies
/node_modules

# next
/.next
/out

# production
/build

# env files
.env.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# VS Code
.vscode/
